<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Wellmeadows Hospital Case</h1>

  <h2>Details of ward number <%= result._id %></h2>
    <ul>
        <li><%= result.location %> </li>
        <li><%= result.tel %> </li>
        <li>number of beds: <%= result.bedsNumber %> </li>
    </ul>
  
</body>
</html>